// Place all the styles related to the Options controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.option-button {
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
  text-align: center;
}
